<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>FTP Client</title>
    <meta name="title" content="FTP Client" />
    <meta name="description" content="Web application of the file transfer protocol" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%- APP_BASE_URL %>" />
    <meta property="og:title" content="FTP Client" />
    <meta property="og:site_name" content="FTP Client" />
    <meta property="og:description" content="Web application of the file transfer protocol" />
    <meta property="og:image" content="<%- APP_BASE_IMG %>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%- APP_BASE_URL %>" />
    <meta property="twitter:title" content="FTP Client" />
    <meta property="twitter:description" content="Web application of the file transfer protocol" />
    <meta property="twitter:image" content="<%- APP_BASE_IMG %>" />

    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="app"></div>
    <script type="module" src="/client/main.js"></script>
  </body>
</html>
